PORT="8000"
NODE_ENV="development"
DATABASE_URL=""
FRONTEND_URL="http://localhost:3000"

JWT_SECRET="SECRET"
JWT_EXPIRE="7d"
JWT_COOKIE_EXPIRE="7"

GOOGLE_DRIVE_FOLDER_ID=""
GOOGLE_DRIVE_FOLDER_PASSPORT=""
GOOGLE_CLIENT_SECRET=""
GOOGLE_CLIENT_ID=""
GOOGLE_REFRESH_TOKEN=""